.stanvac-font{
    font-size: 15px;
}

.btn-stanvac-orange {
    background-color: #ef6500;
    color:#fff;
    border-radius: 5px;
}

.btn-stanvac-orange:hover{
    background-color: #ef6500;
    color:#fff;
    border-radius: 5px;
}

.stanvac-login-background{
    background-image: url("../img/login-bg.jpg");
    max-width: 100vw;
    max-height: 100vh;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.login-logo img{
    width: 90px;
}

.sidebar-profile img {
    width: 10px;
}

.stanvac-policies-card{
    border-style: solid;
    border-width: 1px;
    border-color: #ef6500;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 15.5%;
    padding: 20px 15px;
}

.stanvac-policies-card img{
    padding-top: 10px;
    padding-bottom: 15px;
    width: 50px;
}

.stanvac-verification-card{
    border-style: solid;
    border-width: 1px;
    border-color: #ef6500;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 24%;
}

.verification-btn{
    
}

.stanvac-vp-font{
    font-size: 20px;
    color: #ef6500;
}

.employee-table{
    border-style: solid;
    border-width: 1px;
    border-color: #ef6500;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.employee-table-user-email{
    font-size: 13px;
}

.back-to-top {
    background: #2387c8;
}
.back-to-top:hover{
    background: #2387c8;
}

.pr-1{
    padding-right: 5px;
}

.pr-2{
    padding-right: 10px;
}

.pr-3{
    padding-right: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* body{
        background-color: orange;
    }  */
    .login-welcome{
        font-size: 30px;
        padding-top: 30px;
    }

    .stanvac-login-background{
        background-image: url("../img/login-bg.jpg");
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .card-body {
        padding: 0px 12px 12px;
    }

}

.stanvac-mb-10 {
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* body{
        background-color: yellow;
    }  */
    .stanvac-login-background{
        background-image: url("../img/login-bg.jpg");
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .login-welcome{
        font-size: 30px;
        padding-top: 50px;
    }
    .stanvac-login-content{
        padding-left: 10px;
        padding-right: 10px;
    }
    
}





/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* body{
        background-color: red;
    }  */
    .login-welcome{
        font-size: 30px;
        padding-top: 50px;
    }
    .stanvac-login-background{
        background-image: url("../img/login-bg.jpg");
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .card-body {
        padding: 0px 10px 10px;
    }
    .stanvac-login-content{
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* body{
        background-color: green;
    }  */
    .login-welcome{
        font-size: 50px;
        padding-top: 130px;
    }
    .stanvac-login-background{
        background-image: url("../img/login-bg.jpg");
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-left: -20px;
        margin-bottom: -10px;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* body{
        background-color: black;
    }  */
    .login-welcome{
        font-size: 60px;
        padding-top: 120px;
    }
    .stanvac-login-background{
        background-image: url("../img/login-bg.jpg");
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-left: -20px;
        margin-bottom: -10px;
    }
    .stanvac-login-content{
        padding-left: 35px;
        padding-right: 35px;
    } 
}
