body{
    font-size: 14px;
    background-color: #fff;
  }
.stanvac-font{
    font-size: 15px;
}
.heading-font{
    font-size: 25px;
}

.btn-stanvac-orange {
    background-color: #ef6500;
    color:#fff;
    border-radius: 5px;
}

.btn-stanvac-orange:hover{
    background-color: #ef6500;
    color:#fff;
    border-radius: 5px;
}
.btn-stanvac-orange:active{
    background-color: #ef6500;
    color:#fff;
    border-radius: 5px;
}

.stanvac-login-background{
    background-image: url("../img/login-bg.jpg");
    max-width: 100vw;
    max-height: 100vh;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.login-logo img{
    width: 90px;
}

.sidebar-profile img {
    width: 10px;
}

.stanvac-policies-card img{
    padding-top: 10px;
    padding-bottom: 15px;
    width: 50px;
}

.stanvac-vp-font{
    font-size: 20px;
    color: #ef6500;
}

.employee-table{
    border-style: solid;
    border-width: 1px;
    border-color: #ef6500;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.employee-table-user-email{
    font-size: 13px;
}

.back-to-top {
    background: #2387c8;
}
.back-to-top:hover{
    background: #2387c8;
}

.pr-1{
    padding-right: 5px;
}

.pr-2{
    padding-right: 10px;
}

.pr-3{
    padding-right: 15px;
}

.pl-1{
    padding-left: 5px;
}

.pl-2{
    padding-left: 10px;
}

.pl-3{
    padding-left: 15px;
}

.sidebar-nav .nav-content a {
    color: #fff;
}

.sidebar-nav .nav-content a:hover {
    color: #fff;
}

.modal-content {
    margin-top:25%;
}

.stanvac-btn-border-orange{
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-color: #ef6500 !important;
}
.stanvac-btn-border-blue{
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-color: #2387c8 !important;
}
.placeholder-rtl{
    text-align: right;
}
.text-stanvac-blue{
    color: #2387c8;
}
.text-stanvac-orange{
    color: #ef6500;
}
.scrollme {
    overflow-x: auto;
}

.table-heading{
    font-size: 17px;
}
th{
    font-weight: 500;
    font-size: 14px;
}

.table-avatar img{
    width: 40px;
    margin-right: 10px;
    
}

/* Navbar code  */
/* Navbar code  */
/* Navbar code  */
/* Navbar code  */


.stanvac-mb-10 {
    margin-bottom: 10px;
    border-radius: 5px;
}

.header-nav .nav-icon {
    font-size: 22px;
    color: #012970;
    /* margin-right: 25px; */
    position: relative;
}



/* Resonsive code beign  */
/* Resonsive code beign  */
/* Resonsive code beign  */
/* Resonsive code beign  */



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 575.98px) {
   .main{
        background-color: orange;
    } 
    .login-welcome{
        font-size: 30px;
        padding-top: 30px;
    }
    .stanvac-login-background{
        background-image: url("../img/login-bg.jpg");
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .card-body {
        padding: 0px 12px 12px;
    }
    .stanvac-verification-card{
        border-style: solid;
        border-width: 1px;
        border-color: #ef6500;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 5px;
        width: 97%;
        margin-bottom: 10px;
    }
    .stanvac-policies-card{
        border-style: solid;
        border-width: 1px;
        border-color: #ef6500;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 5px;
        width: 47%;
        padding: 20px 15px;
        margin-bottom: 10px;
    }
    .nav-title{
        text-decoration: none;
        margin-left: 1px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid #2387c8;
        font-size: 18px;
        margin-bottom: -10px;
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .employee{
        display: none;
    }
 
    .superon-logo-responsive{
        display: none;   
    }
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .main{
        background-color: yellow;
    } 
    .stanvac-login-background{
        background-image: url("../img/login-bg.jpg");
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .login-welcome{
        font-size: 30px;
        padding-top: 50px;
    }
    .stanvac-login-content{
        padding-left: 10px;
        padding-right: 10px;
    }
    .stanvac-verification-card{
        border-style: solid;
        border-width: 1px;
        border-color: #ef6500;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 5px;
        width: 48%;
        margin-bottom: 10px;
    }
    .stanvac-policies-card{
        border-style: solid;
        border-width: 1px;
        border-color: #ef6500;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 5px;
        width: 31%;
        padding: 20px 15px;
        margin-bottom: 10px;
    }
    .nav-title{
        text-decoration: none;
        margin-left: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid #2387c8;
        font-size: 20px;
        margin-bottom: -5px;
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .employee{
        display: none;
    }
    .superon-logo-responsive{
        display: none;   
    }
    
}





/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .main{
        background-color: red;
    }    
    .login-welcome{
        font-size: 30px;
        padding-top: 50px;
    }
    .stanvac-login-background{
        background-image: url("../img/login-bg.jpg");
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .card-body {
        padding: 0px 10px 10px;
    }
    .stanvac-login-content{
        padding-left: 10px;
        padding-right: 10px;
    }
    .stanvac-verification-card{
        border-style: solid;
        border-width: 1px;
        border-color: #ef6500;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 5px;
        width: 48%;
    }
    .stanvac-policies-card{
        border-style: solid;
        border-width: 1px;
        border-color: #ef6500;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 5px;
        width: 32%;
        padding: 20px 15px;
        margin-bottom: 10px;
    }
    .nav-title{
        text-decoration: none;
        margin-left: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid #2387c8;
        font-size: 20px;
        margin-bottom: -5px;
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .main{
        background-color: green;
    } 
    .login-welcome{
        font-size: 50px;
        padding-top: 130px;
    }
    .stanvac-login-background{
        background-image: url("../img/login-bg.jpg");
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-left: -20px;
        margin-bottom: -10px;
    }
    .stanvac-verification-card{
        border-style: solid;
        border-width: 1px;
        border-color: #ef6500;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 5px;
        width: 49%;
    }
    .stanvac-policies-card{
        border-style: solid;
        border-width: 1px;
        border-color: #ef6500;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 5px;
        width: 15.5%;
        padding: 20px 15px;
    }
    .nav-title{
        text-decoration: none;
        margin-left: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid #2387c8;
        font-size: 20px;
        margin-bottom: -5px;
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .employee{
        display: none;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)  {
    /* .main{
        background-color: #fff;
    }  */
    .login-welcome{
        font-size: 60px;
        padding-top: 120px;
    }
    .stanvac-login-background{
        background-image: url("../img/login-bg.jpg");
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-left: -20px;
        margin-bottom: -10px;
    }
    .stanvac-login-content{
        padding-left: 35px;
        padding-right: 35px;
    } 
    .stanvac-verification-card{
        border-style: solid;
        border-width: 1px;
        border-color: #ef6500;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 5px;
        width: 24%;
    }
    .stanvac-policies-card{
        border-style: solid;
        border-width: 1px;
        border-color: #ef6500;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 5px;
        width: 15.5%;
        padding: 20px 15px;
    }
    .nav-title{
        text-decoration: none;
        margin-left: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid #2387c8;
        font-size: 21px;
        margin-bottom: -5px;
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}



/* Joining Form */
/* Joining Form */
/* Joining Form */
