.stanvac-font{
    font-size: 15px;
}

.btn-stanvac-orange {
 background-color: #EF940C;
 color:#fff;
}

.stanvac-login-content{
    padding-left: 35px;
    padding-right: 35px;
}

.stanvac-login-background{
    background-image: url("../img/login-bg.jpg");
    max-width: 100vw;
    max-height: 100vh;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.stanvac-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -20px;
    margin-right: -20px;
}

.login-logo img{
    width: 90px;
}



.sidebar-profile img {
    width: 10px;
}



body{
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* body{
        background-color: orange;
    } */
    .stanvac-login-container-top{
        padding-top: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* body{
        background-color: yellow;
    } */
    .login-welcome{
        font-size: 30px;
        padding-top: 50px;
    }
    .stanvac-login-container-top{
        padding-top: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* body{
        background-color: red;
    } */
    .login-welcome{
        font-size: 30px;
        padding-top: 50px;
    }
    .stanvac-login-container-top{
        padding-top: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* body{
        background-color: green;
    } */
    .login-welcome{
        font-size: 40px;
        padding-top: 130px;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* body{
        background-color: black;
    } */
    .login-welcome{
        font-size: 60px;
        padding-top: 120px;
    }
}
